.thumb.png
symbols/unpaved/png/
symbols/unpaved/previews/
symbols/patterns/previews/
symbols/patterns/processed/
symbols/line_patterns/previews/
symbols/pdf/
symbols/colored/
symbols/previews/
data/
fonts/
tmp/
*.xml
*_tmp.*
*.osm.pbf
node_modules/
localconfig.json
localconfig.js
.kosmtik-config.yml
.env

# Generated at runtime by Python.
*.pyc
**/*.pyc
