.thumb.png
layers/
symbols/patterns/previews/
symbols/patterns/processed/
data/
tmp/
*.xml
*.osm.pbf
node_modules/
localconfig.json
localconfig.js
.kosmtik-config.yml
.env

# Generated at runtime by Python.
*.pyc
**/*.pyc
